.product {
	width: 520px;
	height: 240px;
	margin: 20px;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	border-radius: 25px;
	box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}
.product.selected {
	background-color: #ff7f50;
}
.product:hover .product__photo img {
	transform: scale(1.2);
}
.product .product__photo {
	width: 165px;
	height: 100%;
	padding: 25px 40px;
	box-sizing: border-box;
}
.product .product__photo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: all .2s ease-in;
}

.product .product__info {
	display: flex;
	flex-direction: column;
}
.product .product__info .product__info_name {
	font-size: 19px;
}
.product .product__info .product__info_count {
	color: #cccccc;
	flex: 1 1 auto;
}
.product .product__info .product__info_price {
	height: 40px;
	border-radius: 7px;
	background-color: #F6F6F6;
	width: max-content;
	min-width: 110px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product .product__controls {
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: row;
}

.product .product__controls .product_cart {
	margin: 0 5px;
	background-color: #1BC52D;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .2s ease-in;
}
.product .product__controls .product_cart:hover,
.product .product__controls .product_cart:disabled {
	background-color: rgb(53, 167, 110);
}
.product .product__controls .product_cart span {
	color: #ffffff;
}
